<div class="page-wrap">
	<div class="header-logo" role="banner">
		<a href="/" class="logo"><img src="/assets/images/**********-logo.png" alt="********** Homepage" /></a>
	</div>
	<main role="main">
		{{> (lookup . 'partialName') }}
	</main>
</div>