<h1 class="header">Your account has been created!</h1>

<div class="wrap">

    <div class="info-wrap">

        <h2 class="sub-header">What's next:</h2>

        <ul class="info-list">
            <li>A verification email has been sent to your email address.</li>
            <li>Please go to your inbox and click the link provided to activate your account.</li>
        </ul>
        
    </div>

</div>